<?xml version="1.0" encoding="UTF-8"?>
<electric_engine name="electric-motor">
  <!-- A simple electric motor model based on max power. -->
  <power unit="WATTS">{{ max_power_w }}</power>
</electric_engine>
