<?xml version="1.0" encoding="UTF-8"?>
<PropertyList>
    <path>{{ uav_name }}.ac</path>

    <offsets>
        <!-- Alignement visuel du modèle 3D par rapport au FDM JSBSim si nécessaire -->
        <x-m>0.0</x-m>
        <y-m>0.0</y-m>
        <z-m>0.0</z-m>
        <pitch-deg>0</pitch-deg>
        <roll-deg>0</roll-deg>
        <heading-deg>0</heading-deg>
    </offsets>

    <!-- TODO: Add animations for propeller, control surfaces, and gear -->

</PropertyList>